<p>Attractions</p>
<ul>
  {{#each city.attractions as |attraction|}}
    <li>{{attraction}}</li>
  {{/each}}
</ul>

<p>Rentals Available in {{city.name}}</p>
<ul>
  {{#each city.rentals as |rental|}}
    <li>{{rental-tile rental=rental update="update" destroyRental="destroyRental"}}</li>
  {{/each}}
</ul>

{{update-city city=city updateCity="updateCity" destroyCity="destroyCity"}}
<button {{action 'deleteCity' city}}>Delete City</button>
